DATABASE_URL=postgresql://music_db_d924_user:7B1vIDgoVa4fI4mUDBj4PlzmfogKyQdw@dpg-d3pirns9c44c73c2qoug-a.frankfurt-postgres.render.com/music_db_d924
DATA_DIR=/app/data
SKIP_TOKEN = veeeeerysecretcode
